<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Inner Shelf</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header class="site-header">
        <img src="/assets/book-logo.png" alt="logo" class="logo">
        <a href="/" class="site-name">The Inner Shelf</a>
        <nav>
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Write Review</a></li>
                <% if(authorization) { %>
                    <li><a href="/logout">Logout</a></li>
                <% } else {%>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ol>
        </nav>
    </header>
